.clear {
  clear: both;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.fl_l {
  float: left;
}
.fl_r {
  float: right;
}
@media (max-width: 1600px) {
  .team-info__desc {
    height: 42%;
  }
  .header .container {
    max-width: 1400px;
  }
  .nav__login,
  .nav__link {
    padding: 0 15px;
  }
}
@media (max-width: 1450px) {
  .header .container {
    max-width: 1300px;
  }
  .nav__login,
  .nav__link {
    font-size: 14px;
    padding: 0 10px;
  }
  .nav__list + .btn {
    margin-left: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .team__item:nth-of-type(1) .team-info__wrap,
  .team__item:nth-of-type(4) .team-info__wrap {
    right: -100%;
  }
  .team__item:nth-of-type(2) .team-info__wrap,
  .team__item:nth-of-type(5) .team-info__wrap {
    right: -100%;
  }
  .team__item:nth-of-type(3n) .team-info__wrap {
    left: -100%;
  }
  .team-info__close {
    display: block;
  }
}
@media (max-width: 1300px) {
  .nav__login,
  .nav__link {
    font-size: 13px;
  }
  html {
    font-size: 13px;
  }
  .h1 {
    font-size: 47px;
  }
  .h2 {
    font-size: 32px;
  }
  .logo-txt {
    max-width: 230px;
  }
  .form__row .error-txt {
    padding: 2px 10px;
  }
  .form__row .error-txt.top {
    top: -24px;
  }
  .form__row .error-txt.btm {
    top: 52px;
    left: 0;
  }
  .form__subs {
    max-width: 585px;
  }
  .form__title {
    font-size: 16px;
  }
  .form-contact {
    margin-top: 122px;
  }
  .form-contact .btn {
    min-width: 180px;
  }
  input,
  .input {
    height: 48px;
    line-height: 47px;
  }
  label {
    top: 12px;
  }
  .btn {
    height: 48px;
    line-height: 48px;
  }
  .btn-rounded {
    min-width: 210px;
  }
  .btn-default {
    min-width: 220px;
  }
  .btn-form {
    font-size: 16px;
    min-width: 145px;
  }
  .btn-bordered {
    line-height: 44px;
  }
  .btn.small {
    height: 48px;
    line-height: 48px;
  }
  .header {
    height: 90px;
    line-height: 90px;
  }
  .header__wrap {
    height: 90px;
  }
  .dropdown__wrap {
    height: 52px;
  }
  .intro__logo {
    text-align: center;
  }
  .section__whitepaper {
    font-size: 18px;
    background: none;
  }
  .section__contact {
    padding: 56px 0;
  }
  .section__enterprise .body {
    padding: 150px 0;
  }
  .feature__head {
    margin-bottom: 80px;
  }
  .feature__item {
    font-size: 14px;
    margin-bottom: 75px;
  }
  .feature__title {
    font-size: 20px;
  }
  .tabs__desc {
    font-size: 14px;
  }
  .tabs__pane img {
    max-width: 90%;
  }
  .tabs__title {
    margin-top: 0;
  }
  #smartTrusts img {
    max-width: 235px;
  }
  .tabs-nav__link {
    padding: 20px 7px;
  }
  .team-info__wrap {
    font-size: 14px;
  }
  .team-info__wrap i {
    font-size: 25px;
  }
  .team-info__in {
    padding: 5% 2% 0 6%;
    max-width: 96%;
  }
  .team-info__name {
    font-size: 20px;
  }
  .team-info__post {
    margin-bottom: 20px;
  }
  .subscribe__wrap {
    max-width: 540px;
    margin: 40px auto 58px;
  }
  .subscribe__desc {
    margin-bottom: 38px;
  }
  .contact__logo {
    width: 40px;
  }
  .contact__title {
    font-size: 40px;
    margin-bottom: 12px;
  }
  .contact__desc {
    font-size: 22px;
    max-width: 280px;
  }
  .textarea {
    height: 160px;
  }
  .textarea-scrollbar {
    height: 160px;
  }
  .nav__login,
  .nav__link {
    height: 33px;
    line-height: 33px;
    padding: 0 11px;
  }
  .team__post {
    display: none;
  }
  .popup-video .popup__in {
    max-width: 600px;
  }
}
@media (max-width: 1200px) {
  .footerNav__part {
    width: 50%;
    margin-bottom: 27px;
  }
  .footerNav__part.three {
    width: 100%;
  }
  .footerNav__part.three li:nth-child(odd) {
    width: 12.5%;
  }
  .footerNav__part.three li:nth-child(even) {
    width: 12.5%;
  }
  .footerNav__part.three .footerNav__wrap {
    border-left: none;
  }
  .footerNav__link img {
    margin-right: 5px;
  }
  .header__btnMenu {
    display: block;
  }
  .header__mob {
    display: block;
  }
  .nav__wrap {
    position: fixed;
    top: 89px;
    left: 0;
    right: 0;
    bottom: 100%;
    background: #262627;
    z-index: 3;
    text-align: center;
    padding: 0 15px 30px;
    overflow: auto;
    line-height: 1.25;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0;
    visibility: hidden;
  }
  .nav__wrap.open {
    bottom: -1px;
    opacity: 1;
    visibility: visible;
  }
  .nav__list {
    display: block;
  }
  .nav__list + .btn {
    margin: 0;
  }
  .nav__item {
    display: block;
    line-height: 1.25;
    margin-bottom: 25px;
  }
  .nav__item + li {
    margin-left: 0;
  }
  .nav__link {
    display: inline-block;
  }
  .nav__link:hover {
    background: transparent;
  }
  .nav__link:active {
    color: #fff;
    background: rgba(255, 255, 255, 0.16);
  }
}
@media (max-width: 992px) {
  .logo-txt {
    max-width: 170px;
  }
  .intro__logo {
    margin-bottom: 90px;
  }
  .intro__desc {
    font-size: 28px;
    margin-bottom: 50px;
  }
  .section__whitepaper .h2 {
    font-size: 24px;
  }
  .section__dappModel .head {
    font-size: 18px;
  }
  .section__dappModel .body {
    padding: 90px 0 50px;
  }
  .section__enterprise .body {
    padding: 90px 0;
  }
  .intro__logo {
    text-align: left;
  }
  .settings__wrap {
    top: 56px;
  }
  .dropdown__current {
    min-width: 100px;
  }
  .h2 {
    font-size: 32px;
  }
  .team__more {
    padding: 10px;
    width: 230px;
  }
  .team__name {
    font-size: 14px;
  }
  .team__post {
    font-size: 12px;
  }
  .team-info__in {
    padding: 8% 3% 0 6%;
    max-width: 100%;
  }
  .team-info__wrap {
    font-size: 12px;
  }
  .team-info__wrap i {
    font-size: 17px;
    display: inline-block;
    margin-bottom: 0;
  }
  .team-info__name {
    font-size: 14px;
    display: inline-block;
    margin-left: 6px;
  }
  .team-info__post {
    margin-bottom: 12px;
  }
  .team-info__desc {
    height: 65%;
  }
  .form-contact {
    max-width: 400px;
    margin: 45px auto 0;
  }
  .contact__info {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .contact__desc {
    margin: 0 auto;
  }
  .feature__item {
    font-size: 13px;
  }
  .feature__icon {
    font-size: 22px;
  }
  .feature__title {
    font-size: 18px;
  }
  .popup__body {
    padding: 50px 70px 30px;
  }
  .popup__video {
    padding: 15px;
  }
  .footerNav__part {
    width: 100%;
  }
  .footerNav__part.second .footerNav__wrap {
    border-left: none;
  }
  .footerNav__part.second li:nth-child(odd) {
    width: 33.33%;
  }
  .footerNav__part.three {
    width: 100%;
  }
  .footerNav__part.three li:nth-child(odd) {
    width: 33.33%;
  }
  .footerNav__part.three li:nth-child(even) {
    width: 33.33%;
  }
  .model__title {
    margin-bottom: 10px;
  }
  .model__item {
    margin-bottom: 50px;
  }
  .sideTabs-nav__item + li {
    margin-top: 4px;
  }
  .sideTabs-nav__link {
    font-size: 13px;
    padding: 13px 25px;
  }
}
@media (min-width: 768px) {
  .team-info__head {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    transition-delay: 0.10s;
  }
  .team-info__desc {
    top: 30px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    transition-delay: 0.15s;
  }
  .team__item.hover,
  .team__item:hover {
    z-index: 1;
  }
  .team__item.hover .team-info__wrap,
  .team__item:hover .team-info__wrap {
    opacity: 1;
    visibility: visible;
  }
  .team__item.hover .team-info__head,
  .team__item:hover .team-info__head {
    top: 0;
  }
  .team__item.hover .team-info__desc,
  .team__item:hover .team-info__desc {
    top: 0;
  }
  .team__item.close .team-info__wrap {
    opacity: 0;
    visibility: hidden;
  }
}
@media (max-width: 767px) {
  .divider {
    display: none;
  }
  .header {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 1;
    visibility: visible;
  }
  .header.hide {
    opacity: 0;
    visibility: hidden;
  }
  .settings__wrap {
    display: none;
  }
  .logo-txt {
    max-width: 115px;
  }
  .dropdown__wrap {
    height: 48px;
  }
  .dropdown__current {
    min-width: 95px;
  }
  .dropdown__link {
    padding: 11px 25px;
  }
  label {
    font-size: 13px;
    top: 15px;
  }
  .h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .h2 {
    font-size: 24px;
    line-height: 1.2;
  }
  p {
    margin-bottom: 10px;
  }
  .intro__info {
    padding-bottom: 20px;
  }
  .intro__logo {
    margin: 20px 0 50px;
  }
  .intro__desc {
    font-size: 13px;
    margin-bottom: 26px;
  }
  .header {
    height: 50px;
    line-height: 50px;
  }
  .header__wrap {
    height: 50px;
  }
  .header__logo {
    width: 15px;
  }
  .header__btnMenu {
    right: 12px;
  }
  .header__mob {
    display: block;
  }
  .header__mob .nav__wrap {
    padding-top: 50px;
  }
  .form__title {
    font-size: 12px;
  }
  .form__subs {
    margin-bottom: 30px;
    max-width: 100%;
  }
  .form__remark {
    text-align: center;
    margin: 8px 0 0 0;
  }
  .form-contact {
    margin-top: 38px;
  }
  .form__row .error-txt {
    padding: 2px 10px;
    font-size: 11px;
    width: 60%;
    white-space: normal;
    text-align: center;
    padding: 5px 10px;
  }
  .form__row .error-txt.btm {
    top: inherit;
    left: inherit;
    right: 0;
    bottom: 103%;
  }
  .form__row .error-txt.btm:before {
    border-width: 0 5px 5px 0;
    border-color: transparent #dd464c transparent transparent;
    top: 98%;
    right: 0;
    left: inherit;
  }
  .form__row .error-txt.top {
    top: inherit;
    bottom: 103%;
  }
  .form__row .error-txt.top-left {
    top: inherit;
    bottom: 103%;
  }
  .input {
    line-height: 1.25;
  }
  .input__extend {
    overflow: inherit;
    padding-bottom: 70px;
  }
  .btn {
    display: block;
  }
  .btn-form {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
    border-radius: 6px;
    top: 70px;
  }
  .btn:hover:before {
    width: 100%;
  }
  .btn + .btn {
    margin-left: 0;
    margin-top: 16px;
  }
  .nav__wrap {
    top: 50px;
  }
  .section__intro {
    height: auto;
    min-height: 100%;
    padding-bottom: 25px;
  }
  .section__whitepaper {
    padding: 30px 0 47px;
    font-size: 15px;
    line-height: 1.5;
  }
  .section__whitepaper .btn-rounded {
    margin-top: 35px;
  }
  .section__howWorks {
    padding: 28px 0 0;
  }
  .section__contact {
    padding: 28px 0 10px;
  }
  .section__features {
    padding: 26px 0 0;
  }
  .section__features .desc {
    font-size: 15px;
    line-height: 1.5;
  }
  .section__enterprise .head {
    padding: 40px 0;
  }
  .section__enterprise .desc {
    font-size: 15px;
    line-height: 1.5;
  }
  .section__enterprise .body {
    padding: 50px 0 70px;
  }
  .section__dappModel .head {
    font-size: 15px;
  }
  .section__footerNav .title {
    padding-left: 0;
  }
  .tabs__wrap {
    margin: 0;
  }
  .tabs__img {
    display: none;
  }
  .tabs__pane {
    margin: 0;
  }
  .tabs__pane.restAPI {
    padding-top: 0;
  }
  .tabs__pane.restAPI .tabs__desc {
    margin-left: 0;
    text-align: left;
  }
  .tabs__desc {
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 35px;
  }
  .tabs__desc.md {
    width: 100%;
  }
  .tabs__title {
    margin-bottom: 12px;
  }
  .tabs__accent {
    padding: 15px 20px;
  }
  .tabs__accent:before {
    top: -15px;
    bottom: -20px;
  }
  .tabs-nav__list {
    text-align: center;
    text-align-last: inherit;
    margin-bottom: 32px;
  }
  .tabs-nav__item {
    font-size: 12px;
  }
  .tabs-nav__link {
    padding: 10px 5px;
    text-align: center;
    height: 78px;
  }
  .tabs-nav__link i {
    display: inline-block;
    margin: 5px 0;
  }
  .tabs-nav__link .line {
    display: block;
  }
  .tabs-nav__title {
    display: block;
    line-height: 1.25;
  }
  .team__item {
    width: 50%;
  }
  .team__item.hover .team-info__wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    padding: 0;
    overflow: auto;
    opacity: 1;
    visibility: visible;
  }
  .team__item.hover .team-info__wrap .icon-user {
    font-size: 33px;
    display: block;
    margin-bottom: 17px;
  }
  .team__more {
    display: none;
  }
  .team-info__in {
    margin: 0;
    padding: 50px 30px 50px 35px;
    height: auto;
  }
  .team-info__head {
    top: 0;
  }
  .team-info__name {
    font-size: 24px;
    margin: 0;
  }
  .team-info__post {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .team-info__desc {
    font-size: 16px;
    height: auto;
  }
  .team-info__close {
    display: block;
  }
  .subscribe__wrap {
    margin: 28px auto 43px;
    padding: 0 15px;
  }
  .subscribe__desc {
    font-size: 13px;
    margin-bottom: 23px;
  }
  .contact__logo {
    display: none;
  }
  .contact__title {
    font-size: 23px;
    margin-bottom: 8px;
  }
  .contact__desc {
    font-size: 12px;
  }
  .textarea {
    height: 80px;
  }
  .textarea-scrolbar {
    height: 80px;
  }
  .feature__head {
    margin-bottom: 48px;
  }
  .feature__item {
    text-align: center;
    margin-bottom: 56px;
  }
  .feature__icon {
    font-size: 26px;
    margin-bottom: 9px;
  }
  .feature__title {
    margin-bottom: 6px;
  }
  .feature__desc {
    line-height: 1.4;
  }
  .popup__in {
    width: 95%;
    max-width: 95% !important;
  }
  .popup__body {
    padding: 50px 20px 30px;
  }
  .popup__body .h2 {
    text-align: center;
    margin-bottom: 35px;
  }
  .popup__video {
    padding: 10px;
  }
  .popup-success .popup__body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .social__item {
    width: 25%;
  }
  .footerNav__wrap {
    padding: 0;
  }
  .footerNav__part li:nth-child(odd) {
    width: 50% !important;
  }
  .footerNav__part li:nth-child(even) {
    width: 50% !important;
  }
  .sideTabs-nav__wrap {
    position: relative;
  }
  .sideTabs-nav__list:after {
    content: '';
    display: block;
    clear: both;
  }
  .sideTabs-nav__item {
    width: 50%;
    float: left;
  }
  .sideTabs-nav__item + li {
    margin-top: 0;
  }
  .sideTabs-nav__link {
    text-align: center;
    padding: 10px 0;
    margin: 5px;
    font-size: 12.5px;
  }
  .sideTabs-nav__link.active {
    box-shadow: inset 0 -4px 0 #fd8b19;
  }
  .sideTabs__cont {
    padding-left: 0;
    padding-top: 20px;
  }
  .sideTabs__cont .tabs__desc {
    margin-bottom: 10px;
  }
}
@media (max-device-width: 727px) and (orientation: landscape) {
  .popup__video {
    padding-top: 26px;
  }
  .popup__video .popup__close {
    padding: 5px 10px;
    top: 0;
    color: rgba(40, 31, 57, 0.33);
    bottom: inherit;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .section__enterprise .head,
  .section__features {
    background-attachment: scroll;
  }
}
