.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a img {
  border: none;
  vertical-align: middle;
}
input,
textarea {
  outline: none;
  resize: none;
}
.clear {
  clear: both;
  line-height: 0;
  height: 0;
  display: block;
}
.text_r {
  text-align: right;
}
.text_c {
  text-align: center;
}
.text_l {
  text-align: left;
}
.ov {
  overflow: hidden;
}
.block {
  display: block;
}
.in_bl {
  display: inline-block !important;
}
.inline {
  display: inline-block;
}
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
sup,
sub {
  vertical-align: baseline;
  position: relative;
  font-size: .4em;
  line-height: 1;
}
sup {
  bottom: 1.4ex;
}
sub {
  top: .5ex;
}
.va_t {
  vertical-align: top;
}
.va_m {
  vertical-align: middle;
}
.va_b {
  vertical-align: bottom;
}
.va_middle_out {
  position: relative;
  line-height: 0;
  font-size: 0;
}
.uppercase {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .details__content {
    display: block !important;
  }
  .chart__title {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .chart__title:hover .name,
  .chart__title:hover .value,
  .chart__title:hover .price,
  .chart__title:hover .remark {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  .chart__title .name {
    display: block;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .chart__title .price {
    display: block;
    text-align: left;
    color: rgba(14, 37, 57, 0.6);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .chart__title .line {
    display: block;
    background: #d2d3d3;
    height: 1px;
    margin: 10px 0;
    position: relative;
  }
  .chart__title .line:before {
    content: '';
    position: absolute;
    background: #d2d3d3;
    height: 1px;
  }
  .chart__title .line:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    background: #ffffff;
    box-shadow: 0 0 3px 2px #fff;
    border-radius: 100%;
  }
  .chart__title .remark {
    display: block;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    color: #e05398;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .chart__title_1 {
    text-align: left;
    left: 40px;
    top: 3px;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
  .chart__title_1 .line {
    width: 175px;
  }
  .chart__title_1 .line:before {
    width: 62px;
    left: 100%;
    transform: rotate(41deg);
    top: 20px;
    margin-left: -7px;
  }
  .chart__title_1 .line:after {
    top: 42px;
    right: -49px;
  }
  .chart__title_1:hover ~ .circle__box circle:nth-child(1) {
    stroke-width: 27px;
    stroke: #9666c6;
  }
  .chart__title_1 .name,
  .chart__title_1 .price,
  .chart__title_1 .remark {
    text-align: right;
  }
  .chart__title_2 {
    text-align: right;
    right: 35px;
    top: 127px;
  }
  .chart__title_2 .line {
    width: 130px;
  }
  .chart__title_2 .line:before {
    width: 95px;
    right: 100%;
    transform: rotate(41deg);
    top: -31px;
    margin-right: -12px;
  }
  .chart__title_2 .line:after {
    top: -61px;
    left: -71px;
  }
  .chart__title_2:hover ~ .circle__box circle:nth-child(2) {
    stroke-width: 26px;
    stroke: #7dc2c3;
  }
  .chart__total {
    opacity: 0;
  }
  .visible .chart__title_1 {
    animation: titleOpacity 0.3s 0.2s linear;
    -webkit-animation: titleOpacity 0.3s 0.2s linear;
    animation-fill-mode: forwards;
  }
  .visible .chart__title_2 {
    animation: titleOpacity 0.3s  1.1s linear;
    -webkit-animation: titleOpacity 0.3s 1.1s linear;
    animation-fill-mode: forwards;
  }
  .visible .chart__title_3 {
    animation: titleOpacity 0.3s 1.2s linear;
    -webkit-animation: titleOpacity 0.3s 1.2s linear;
    animation-fill-mode: forwards;
  }
  .visible .chart__title_4 {
    animation: titleOpacity 0.3s 1.8s linear;
    -webkit-animation: titleOpacity 0.3s 1.8s linear;
    animation-fill-mode: forwards;
  }
  .visible .chart__total {
    animation: chartTotal 0.3s 2s linear;
    -webkit-animation: chartTotal 0.3s 2s linear;
    animation-fill-mode: forwards;
  }
  .mainNav__dropdown {
    padding: 12px 0;
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    top: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
    margin-top: -10px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0;
    visibility: hidden;
  }
  .mainNav__dropdown .link {
    font-size: 12px;
    color: #000000;
  }
  .mainNav__dropdown .link:hover {
    background: rgba(60, 56, 105, 0.2);
  }
}
@media (min-width: 1100px) {
  .mainNav__list {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
  }
}
@media (max-width: 1200px) {
  .section__aboutMybit .desc {
    margin: 17px 0 0 0;
  }
  .section__businessModel {
    padding: 93px 0 143px;
  }
  .section__details {
    padding-bottom: 135px;
  }
  .roadmap__item {
    padding-right: 20px;
  }
  .chart__title_1 {
    left: 74px;
  }
  .chart__title_2 {
    right: 50px;
  }
  .chart__total {
    margin-top: -48px;
  }
  .video__wrap {
    margin-top: 35px;
  }
  .footer__download {
    text-align: center;
    margin: 0 0 55px;
  }
}
@media (max-width: 991px) {
  .h1 {
    font-size: 16px;
    margin-bottom: 46px;
    letter-spacing: 0.4px;
  }
  .date__box {
    margin-bottom: 150px;
  }
  .mainNav__link {
    padding-right: 22px;
  }
  .mainNav__link:after {
    right: 12px;
  }
  .section {
    padding-bottom: 82px;
  }
  .section__aboutMybit {
    padding: 75px 0 119px;
  }
  .section__aboutMybit .section__title {
    text-align: center;
    margin-left: 0;
  }
  .section__aboutMybit .section__title:before {
    left: 50%;
    margin-left: -30px;
  }
  .section__technology {
    padding-bottom: 107px;
  }
  .section__infastructure {
    padding-bottom: 117px;
  }
  .roadmap__list {
    margin: 0;
    padding: 0;
    width: 81%;
  }
  .roadmap__progressBase {
    width: 1px;
    height: 81%;
    left: 50%;
    top: 51px;
  }
  .roadmap__progressPart {
    width: 1px;
    height: calc(100% - 14px);
    left: 50%;
    top: 42px;
    margin: 0;
  }
  .roadmap__progressPart.first {
    display: none;
  }
  .roadmap__progressPart.last {
    display: none;
  }
  .roadmap__progressBar {
    width: 3px;
    height: 0;
    left: -1px;
    padding: 0 1.5px;
  }
  .roadmap__item {
    width: 100%;
    padding: 5px 20px 42px 0;
  }
  .roadmap__item.active .roadmap__dot {
    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 3px #fdcc59;
    top: 30px;
    margin-left: -4px;
  }
  .roadmap__date {
    width: 49%;
    float: left;
    text-align: right;
    margin-right: 5%;
  }
  .roadmap__dot {
    left: 50%;
    margin-left: -3px;
    top: 30px;
  }
  .roadmap__descr {
    width: 46%;
    float: left;
    margin-top: 31px;
  }
  .team__list {
    padding: 0 5%;
  }
  .team__item {
    width: 50%;
    margin: 0 0 20px 0;
    min-height: 320px;
  }
  .chart__title_1 {
    left: 25px;
  }
  .chart__title_2 {
    right: 22px;
  }
  .soc__item {
    margin-right: 9px;
  }
  .tokenization__model__yellow__image {
    width: 100px;
  }
  .tokenization__model__yellow__image__footer__center {
    width: 180px;
  }
  .vertical__branch__right__bar {
    left: 81.6%;
  }
  .counter__value {
    font-size: 24px;
  }
}
@media (max-width: 900px) {
  .mainNav__link {
    padding-right: 10px;
  }
  .header__logo {
    width: 70px;
  }
  .tokenization__model__description {
    font-size: 2.2em;
  }
  .tokenization__model__description__long__text {
    font-size: 1.5em;
  }
}
@media (max-width: 767px) {
  .canvas__bg {
    display: none;
  }
  .wrapper {
    min-height: inherit;
  }
  .wrapper.firstSection .header-mob {
    background: transparent !important;
  }
  .overlay {
    opacity: 1;
    visibility: visible;
  }
  .overlay.active {
    display: block;
  }
  .header-mob {
    display: block;
  }
  .header__logo {
    display: none;
  }
  .mainNav__wrap {
    width: 90%;
    height: auto;
    line-height: 1.25;
    top: 0;
    right: inherit;
    left: -90%;
    bottom: 0;
    background-color: #6264ae;
    padding-top: 76px;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNjI2NGFlIiBzdG9wLW9wYWNpdHk9IjAuNzUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyYjIzM2IiIHN0b3Atb3BhY2l0eT0iMC43NSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0, rgba(98, 100, 174, 0.75)), color-stop(1, rgba(43, 35, 59, 0.75)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(left, rgba(98, 100, 174, 0.75) 0%, rgba(43, 35, 59, 0.75) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to right, rgba(98, 100, 174, 0.75) 0%, rgba(43, 35, 59, 0.75) 100%);
    background-image: -ms-repeating-linear-gradient(left, rgba(98, 100, 174, 0.75) 0%, rgba(43, 35, 59, 0.75) 100%);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .mainNav__wrap.open {
    left: 0;
  }
  .mainNav__in {
    overflow: auto;
    height: 100%;
    padding: 30px 0 20px;
    text-align: left;
  }
  .mainNav__list {
    margin: 0;
    text-align: left;
    display: block;
  }
  .mainNav__item {
    display: block;
    text-align: left;
  }
  .mainNav__link {
    display: block;
    font-size: 16px;
    color: #fff;
    padding: 10px 24px;
    height: auto;
  }
  .mainNav__link .title {
    position: static;
    opacity: 1;
    visibility: visible;
  }
  .mainNav__link:after {
    display: none;
  }
  .mainNav__link:focus {
    color: #fff;
  }
  .mainNav__link.active {
    color: #fff;
    background: rgba(38, 37, 70, 0.32);
    box-shadow: inset 4px 0 0 #fdcc59;
  }
  .mainNav__link .icon-arrow_dropdown {
    display: none;
  }
  .mainNav__dropdown .link {
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0 5px 44px;
  }
  .mainNav__dropdown .link:hover {
    color: #fff;
  }
  .lang__wrap {
    position: fixed;
    top: 5px;
    z-index: 11;
    left: 68%;
    right: inherit;
    -webkit-transition: all 0s ease-out;
    transition: all 0s ease-out;
    transition-delay: 0s;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
  }
  .lang__wrap.visible {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    transition-delay: 0.3s;
    opacity: 1;
    visibility: visible;
  }
  .section {
    padding: 30px 0;
  }
  .section__intro {
    display: block;
    padding: 53px 0 59px;
  }
  .section__intro .logo {
    width: 138px;
    margin-bottom: 30px;
  }
  .section__title {
    padding: 30px 0 16px;
    margin-bottom: 0;
  }
  .section__aboutMybit {
    padding: 30px 0 28px;
  }
  .section__aboutMybit .section__title {
    text-align: center;
  }
  .section__aboutMybit .section__title:before {
    left: 50%;
    margin-left: -30px;
  }
  .section__technology {
    padding: 30px 0 32px;
  }
  .section__infrastructure {
    padding: 30px 0 32px;
  }
  .section__innovation {
    padding: 30px 0 0;
  }
  .section__businessModel {
    padding: 30px 0;
  }
  .section__details {
    padding: 30px 0 28px;
  }
  .section__details .section__title {
    text-align: center;
  }
  .section__details .section__title:before {
    left: 50%;
    margin-left: -30px;
  }
  .section__structure {
    padding: 30px 0 75px;
  }
  .section__structure .desc {
    margin-bottom: 32px;
  }
  .section__advisor,
  .section__team {
    padding: 30px 0 48px;
  }
  .section__advisor .team__item,
  .section__team .team__item {
    margin: 0;
  }
  .section__media {
    padding: 30px 0;
  }
  .section__media .desc {
    margin-bottom: 0;
  }
  .section__partners,
  .section__tokensale {
    height: auto;
    text-align: center;
  }
  .section__partners .section__title,
  .section__tokensale .section__title {
    text-align: center;
  }
  .section__partners .section__title:before,
  .section__tokensale .section__title:before {
    left: 50%;
    margin-left: -15px;
  }
  .section__partners {
    padding-bottom: 70px;
  }
  .section__notFound {
    height: auto;
    padding-top: 56px;
    min-height: 400px;
  }
  .page__tokensale {
    height: auto;
    min-height: inherit;
    padding-top: 0;
  }
  .page__notFound {
    height: auto;
  }
  .h1 {
    font-size: 16px;
    margin-bottom: 46px;
    letter-spacing: 0.4px;
  }
  .h2 {
    font-size: 24px;
  }
  .h3 {
    font-size: 22px;
  }
  .date {
    font-size: 40px;
  }
  .date .small {
    font-size: 23px;
  }
  .date__box {
    margin-bottom: 70px;
  }
  .date__title {
    font-size: 13px;
    margin-bottom: 3px;
  }
  .btn {
    width: 100%;
    text-align: center;
  }
  .btn__inInput {
    width: 200px;
    position: static;
    margin-top: 20px;
  }
  .btn__row {
    margin-top: 26px;
    text-align: center;
  }
  .btn-whitepaper {
    margin: 20px auto;
    width: 95%;
    display: block;
    float: none;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
  }
  .btn + .btn {
    margin: 20px 0 0 0;
  }
  .input {
    font-size: 13.5px;
    padding: 0 15px;
  }
  .input__wrap .input {
    padding: 0 20px;
  }
  .textarea {
    font-size: 13.5px;
    padding: 15px 15px;
  }
  .description__link {
    display: block;
  }
  .innovation__item {
    padding: 17px 0 36px;
  }
  .innovation__item i {
    margin-bottom: 5px;
  }
  .roadmap__list {
    width: 100%;
    margin-top: -10px;
  }
  .roadmap__item {
    padding: 13px 0;
    padding-right: 0;
  }
  .roadmap__progressBase {
    height: 83%;
  }
  .roadmap__date {
    width: 45%;
    margin-right: 11%;
  }
  .roadmap__descr {
    width: 40%;
  }
  .details__row {
    padding-top: 10px;
    padding-right: 20px;
  }
  .details__title {
    width: 100%;
    margin-bottom: 6px;
  }
  .details__content {
    width: 100%;
  }
  .details__text {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.5;
  }
  .details__wrap {
    margin-top: -5px;
  }
  .details__subheading {
    margin-bottom: 6px;
  }
  .chart__title {
    width: 48%;
    padding: 10px 5px;
  }
  .chart__title .name {
    color: #3a3665;
    font-size: 12px;
    display: block;
  }
  .chart__title .value {
    font-size: 15px;
  }
  .chart__title .line {
    display: none;
  }
  .chart__title .price {
    font-size: 11px;
  }
  .chart__title .remark {
    display: block;
    font-weight: 500;
    font-style: italic;
    color: #e05398;
    font-size: 12px;
    margin-bottom: -4px;
  }
  .chart__title_1 {
    color: #a772dd;
  }
  .chart__title_2 {
    color: #8bd8d9;
  }
  .chart__title_3 {
    color: #e05398;
  }
  .chart__title_4 {
    color: #dddfb4;
  }
  .team__item {
    padding-top: 10px;
    margin-bottom: 0;
    min-height: inherit;
    position: relative;
  }
  .partners__item {
    float: left;
    min-height: 120px;
  }
  .partners__logo {
    padding-bottom: 16px;
  }
  .soc__wrap {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 18px 0 10px;
  }
  .soc__list {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
  }
  .soc__item {
    width: 20%;
    margin: 0 0 19px;
    text-align: center;
  }
  .soc__link {
    display: inline-block;
    width: 41px;
    height: 41px;
    line-height: 41px;
  }
  .soc__link i {
    font-size: 41px;
  }
  .form__updatesFooter {
    text-align: center;
    max-width: 100%;
  }
  .form__updates_js.submited .btn-success,
  .form__updates_js.processing .btn-success,
  .form__updates_js.start .btn-success {
    transition-delay: 0.2s;
    opacity: 1;
    visibility: visible;
  }
  .form__updates_js.submited .input,
  .form__updates_js.processing .input,
  .form__updates_js.start .input {
    opacity: 0;
    pointer-events: none;
  }
  .form__updates_js.submited .btn__inInput,
  .form__updates_js.processing .btn__inInput,
  .form__updates_js.start .btn__inInput {
    display: none;
  }
  .form__offer {
    width: 100%;
    padding-bottom: 20px;
  }
  .footer__info {
    border-top: none;
    padding-top: 21px;
  }
  .footer__info .copy,
  .footer__info .country {
    float: none;
    display: block;
  }
  .footer__info .copy span,
  .footer__info .country span {
    display: block;
  }
  .footer__info .btn-shadow {
    margin: 25px 0;
  }
  .footer__download {
    margin: 20px 0;
  }
  .dropdown__in {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding-top: 0;
    right: 17px;
  }
  .counter__item {
    width: 100%;
  }
  .counter__item:not(:last-of-type) {
    margin-bottom: 40px;
  }
  .modal-content {
    padding: 0 10px;
  }
  .tokenization__model__description {
    font-size: 1.5em;
  }
  .tokenization__model__description__long__text {
    font-size: 1.1em;
  }
  .tokenization__model__image {
    background-size: 80%;
  }
  .tokenization__model__yellow__image {
    width: 100%;
  }
  .tokenization__model__yellow__image__footer__left {
    width: 40%;
  }
  .tokenization__model__yellow__image__footer__center {
    width: 80%;
  }
  .tokenization__model__yellow__image__footer__right {
    width: 43%;
  }
  .vertical__branch__left__bar {
    left: 16.9%;
  }
  .vertical__branch__right__bar {
    left: 80.8%;
  }
  .vertical__bar {
    width: 8px;
  }
  .horizontal__bar {
    height: 8px;
  }
  .vertical__branch__bar {
    width: 8px;
  }
  .video__wrap {
    max-width: 100%;
  }
}
@media (max-width: 360px) {
  .modal-content {
    padding: 0;
  }
  .textarea,
  .input::-webkit-input-placeholder {
    font-size: 12px;
  }
}
