.clear {
  clear: both;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.fl_l {
  float: left;
}
.fl_r {
  float: right;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a img {
  border: none;
  vertical-align: middle;
}
input,
textarea {
  outline: none;
  resize: none;
}
.clear {
  clear: both;
  line-height: 0;
  height: 0;
  display: block;
}
.text_r {
  text-align: right;
}
.text_c {
  text-align: center;
}
.text_l {
  text-align: left;
}
.ov {
  overflow: hidden;
}
.block {
  display: block;
}
.in_bl {
  display: inline-block !important;
}
.inline {
  display: inline-block;
}
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
sup,
sub {
  vertical-align: baseline;
  position: relative;
  font-size: .4em;
  line-height: 1;
}
sup {
  bottom: 1.4ex;
}
sub {
  top: .5ex;
}
.va_t {
  vertical-align: top;
}
.va_m {
  vertical-align: middle;
}
.va_b {
  vertical-align: bottom;
}
.va_middle_out {
  position: relative;
  line-height: 0;
  font-size: 0;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
html,
body {
  min-width: 320px;
  height: 100%;
  font-size: 16px;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.wrapper {
  height: 100%;
  min-height: 100%;
}
strong {
  font-weight: 600;
}
p {
  margin-bottom: 0.6rem;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.h2 {
  font-size: 2.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1.5rem;
}
.btn {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.btn-form {
  font-size: 1.375rem;
  min-width: 180px;
  background: #dd464c;
  border-radius: 0 6px 6px 0;
  float: right;
  margin-left: -5px;
  position: relative;
}
.btn-rounded {
  font-size: 1.25rem;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.16);
  min-width: 260px;
}
.btn-rounded span {
  vertical-align: middle;
}
.btn-rounded .icon-video {
  vertical-align: middle;
  font-size: 1.5625rem;
  margin-left: 0.625rem;
}
.btn-bordered {
  min-width: 160px;
  height: 52px;
  line-height: 52px;
  font-size: 14px;
  color: #fdcc59;
  background: rgba(201, 66, 72, 0.02);
  border: 2px solid;
  border-radius: 6px;
}
.btn-default {
  min-width: 240px;
  font-size: 1.375rem;
  border-radius: 6px;
  background: #fd8b19;
}
.section__intro {
  height: 100%;
  background: url("../images/bg/intro_bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  line-height: 0;
  font-size: 0;
}
.section__intro:after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.section__whitepaper {
  padding: 6.625rem 0;
  color: #281f39;
  font-size: 1.25rem;
  background: url("../images/bg/earth.png") left center no-repeat, url("../images/bg/bag_money.png") right center no-repeat;
}
.section__whitepaper .h2 {
  max-width: 465px;
}
.section__whitepaper .btn-rounded {
  background: #4b4359;
  margin-top: 2.25rem;
}
.section__features {
  padding: 6.625rem 0;
  background: url("../images/bg/features_bg.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
}
.section__features .h2 {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.section__features .desc {
  font-size: 1.125rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.section__use {
  padding: 80px 0;
  color: #281f39;
  text-align: center;
}
.section__contact {
  padding: 6rem 0;
  background: #37399c;
  background: -moz-linear-gradient(top, #37399c 0%, #281f39 100%);
  background: -webkit-linear-gradient(top, #37399c 0%, #281f39 100%);
  background: linear-gradient(to bottom, #37399c 0%, #281f39 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37399c', endColorstr='#281f39', GradientType=0);
}
.settings__wrap {
  position: absolute;
  top: 63px;
  right: 0;
  left: 0;
  line-height: 1.4;
}
.lang__wrap {
  float: right;
}
.intro__wrap {
  width: 100%;
  line-height: 1.25;
  display: inline-block;
  vertical-align: middle;
}
.intro__logo {
  margin-top: 16px;
}
.intro__desc {
  display: block;
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: 3.375rem;
}
.header {
  background: #262627;
  height: 100px;
  line-height: 100px;
}
.header__logo {
  display: inline-block;
}
.header__logo img {
  max-width: 100%;
}
.nav__wrap {
  float: right;
}
.nav__list {
  display: inline-block;
}
.nav__list + .btn {
  margin-left: 2.75rem;
}
.nav__item {
  display: inline-block;
}
.nav__item + li {
  margin-left: 3rem;
}
.nav__link {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.feature__wrap {
  margin-top: 6rem;
}
.feature__item {
  font-size: 15px;
  text-align: left;
  margin-bottom: 4.8125rem;
}
.feature__icon {
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 1.25rem;
}
.feature__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 1rem;
}
.feature__desc {
  line-height: 1.55;
}
.tabs-nav__list {
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 55px;
  line-height: 0;
  font-size: 0;
  text-align-last: justify;
  text-align: justify;
}
.tabs-nav__list:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.tabs-nav__item {
  font-size: 15px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align-last: left;
}
.tabs-nav__link {
  display: block;
  padding: 65px 55px;
  color: #281f39;
}
.tabs-nav__link i {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 12px;
}
.tabs-nav__link.active,
.tabs-nav__link:hover {
  color: #fd8b19;
}
.tabs-nav__link.active:before,
.tabs-nav__link.active:after {
  position: absolute;
  top: 100%;
  left: 50%;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.tabs-nav__link.active:before {
  margin-bottom: -2px;
  border-width: 11px 13px 0 13px;
  border-color: #e9e9e9 transparent transparent transparent;
}
.tabs-nav__link.active:after {
  border-width: 10px 12px 0 12px;
  border-color: #ffffff transparent transparent transparent;
}
.tabs-nav__title {
  vertical-align: middle;
}
.tabs-nav__current {
  display: none;
}
.tabs__wrap {
  margin: 0 15px;
  margin-top: -11px;
}
.tabs__cont {
  text-align: left;
  padding-bottom: 50px;
}
.tabs__pane {
  display: none;
  margin: 0 15px;
}
.tabs__pane:after {
  content: '';
  display: block;
  clear: both;
}
.tabs__pane.active {
  display: block;
}
.tabs__title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 45px 0 26px;
}
.tabs__desc {
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 53px;
}
.team__wrap:after {
  content: '';
  display: block;
  clear: both;
}
.team__item {
  width: 33.33%;
  float: left;
  position: relative;
}
.team__item:hover .team-info__wrap {
  opacity: 1;
  visibility: visible;
}
.team__item:hover .team-info__head {
  top: 0;
}
.team__item:hover .team-info__desc {
  top: 0;
}
.team__photo {
  width: 100%;
}
.team__more {
  width: 320px;
  border-radius: 50px;
  padding: 10px 25px;
  text-align: center;
  background: rgba(39, 31, 56, 0.8);
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.team__name {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.team__post {
  display: block;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}
.team-info__wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #281f39;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.team-info__wrap i {
  font-size: 35px;
  display: block;
  margin-bottom: 15px;
}
.team-info__head {
  position: relative;
  top: 30px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  transition-delay: 0.10s;
}
.team-info__in {
  max-width: 315px;
  margin: 11% 0 0 17%;
}
.team-info__name {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  display: block;
}
.team-info__post {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 38px;
}
.team-info__desc {
  line-height: 1.5;
  position: relative;
  top: 30px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  transition-delay: 0.15s;
}
.subscribe__wrap {
  color: #281f39;
  max-width: 680px;
  margin: 50px auto;
  text-align: center;
}
.subscribe__wrap .h2 {
  margin-bottom: 13px;
}
.subscribe__desc {
  display: block;
  font-size: 1.375rem;
  margin-bottom: 3.625rem;
}
.contact__info {
  margin-left: 47px;
}
.contact__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.25rem;
  display: block;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 20px;
}
.contact__desc {
  display: block;
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.3;
}
.contact__logo {
  width: 50px;
  margin-bottom: 1.875rem;
}
.footer {
  background: #1d172c;
  text-align: center;
  height: 55px;
  line-height: 55px;
  font-size: 13px;
}
.dropdown__wrap {
  position: relative;
  border-radius: 50px;
  border: 2px solid #fff;
  opacity: 0.3;
  height: 60px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.dropdown__wrap:hover {
  opacity: 1;
  border-radius: 35px;
  height: 160px;
}
.dropdown__wrap:hover .dropdown__in {
  opacity: 1;
  visibility: visible;
}
.dropdown__in {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
  visibility: hidden;
}
.dropdown__link {
  display: block;
  font-size: 1rem;
  padding: 4px 30px;
  text-transform: capitalize;
  color: #fff;
}
.dropdown__link:hover {
  background: rgba(255, 255, 255, 0.16);
}
.dropdown__current {
  min-width: 120px;
  padding: 14px 30px;
  color: #fff;
  position: relative;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.dropdown__current:hover {
  background: transparent;
}
.dropdown__current i {
  font-size: 7px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 31px;
}
.form__row {
  position: relative;
  margin-bottom: 2.125rem;
}
.form__row.focus .btn-form {
  background: #fd8b19;
}
.form__title {
  display: block;
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
}
.form__subs {
  max-width: 680px;
  margin-bottom: 8.625rem;
}
.form__remark {
  font-size: 13px;
  display: block;
  text-align: left;
  margin: 4px 0 0 5px;
}
.form-contact {
  margin-top: 205px;
  text-align: center;
}
.form-contact .btn {
  background: #dd464c;
}
label {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 17px;
  left: 25px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
input,
.input {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 1.25rem;
  background: rgba(255, 255, 255, 0.16);
  padding: 0 25px;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
input::-webkit-input-placeholder,
.input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input::-moz-placeholder,
.input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input:-moz-placeholder,
.input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input:-ms-input-placeholder,
.input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input__extend,
.input__extend {
  overflow: hidden;
}
input:focus,
.input:focus {
  border-color: rgba(255, 255, 255, 0.44);
}
input:focus::-webkit-input-placeholder,
.input:focus::-webkit-input-placeholder {
  color: #ffffff;
}
input:focus::-moz-placeholder,
.input:focus::-moz-placeholder {
  color: #ffffff;
}
input:focus:-moz-placeholder,
.input:focus:-moz-placeholder {
  color: #ffffff;
}
input:focus:-ms-input-placeholder,
.input:focus:-ms-input-placeholder {
  color: #ffffff;
}
input-bordered,
.input-bordered {
  border: 2px solid #c7c7c7;
}
input-bordered::-webkit-input-placeholder,
.input-bordered::-webkit-input-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered::-moz-placeholder,
.input-bordered::-moz-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered:-moz-placeholder,
.input-bordered:-moz-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered:-ms-input-placeholder,
.input-bordered:-ms-input-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered:focus,
.input-bordered:focus {
  border-color: rgba(40, 31, 57, 0.3);
}
input-bordered:focus::-webkit-input-placeholder,
.input-bordered:focus::-webkit-input-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered:focus::-moz-placeholder,
.input-bordered:focus::-moz-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered:focus:-moz-placeholder,
.input-bordered:focus:-moz-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered:focus:-ms-input-placeholder,
.input-bordered:focus:-ms-input-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input.fill ~ label,
.input.fill ~ label,
input:focus + label,
.input:focus + label {
  top: -20px;
  left: 4px;
  font-size: 13px;
  color: #ffffff;
}
.textarea {
  width: 100%;
  height: 200px;
  line-height: 1.25;
  font-size: 1.25rem;
  background: rgba(255, 255, 255, 0.16);
  padding: 20px 25px;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.textarea:focus {
  border-color: rgba(255, 255, 255, 0.44);
}
.textarea:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.textarea:focus::-moz-placeholder {
  color: #ffffff;
}
.textarea:focus:-moz-placeholder {
  color: #ffffff;
}
.textarea:focus:-ms-input-placeholder {
  color: #ffffff;
}
.textarea.fill ~ label,
.textarea:focus + label {
  top: -20px;
  left: 4px;
  font-size: 13px;
  color: #ffffff;
}
