.clear {
  clear: both;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.fl_l {
  float: left;
}
.fl_r {
  float: right;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a img {
  border: none;
  vertical-align: middle;
}
input,
textarea {
  outline: none;
  resize: none;
}
.clear {
  clear: both;
  line-height: 0;
  height: 0;
  display: block;
}
.text_r {
  text-align: right;
}
.text_c {
  text-align: center;
}
.text_l {
  text-align: left;
}
.ov {
  overflow: hidden;
}
.block {
  display: block;
}
.in_bl {
  display: inline-block !important;
}
.inline {
  display: inline-block;
}
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
sup,
sub {
  vertical-align: baseline;
  position: relative;
  font-size: .4em;
  line-height: 1;
}
sup {
  bottom: 1.4ex;
}
sub {
  top: .5ex;
}
.va_t {
  vertical-align: top;
}
.va_m {
  vertical-align: middle;
}
.va_b {
  vertical-align: bottom;
}
.va_middle_out {
  position: relative;
  line-height: 0;
  font-size: 0;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
input,
textarea,
select {
  -webkit-appearance: none;
}
html,
body {
  min-width: 320px;
  height: 100%;
  font-size: 16px;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
body.static {
  position: relative;
  overflow: hidden;
}
.wrapper {
  height: 100%;
}
strong {
  font-weight: 600;
}
p {
  margin-bottom: 0.6rem;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.h2 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1.5rem;
}
.btn {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.btn:before {
  content: '';
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.btn:active:before {
  opacity: 0;
  visibility: hidden;
}
.btn-form {
  font-size: 1.375rem;
  min-width: 180px;
  background: #dd464c;
  border-radius: 0 6px 6px 0;
  float: right;
  margin-left: -5px;
  position: relative;
  overflow: hidden;
}
.btn-form:hover:before {
  width: 200px;
  height: 200px;
}
.btn-rounded {
  font-size: 1.25rem;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.16);
  min-width: 260px;
  position: relative;
  overflow: hidden;
}
.btn-rounded i {
  vertical-align: text-bottom;
  font-size: 1.5625rem;
  margin-left: 0.625rem;
}
.btn-rounded:before {
  background: none;
}
.btn-rounded:hover {
  background: rgba(255, 255, 255, 0.32);
}
.btn-rounded:active {
  background: rgba(255, 255, 255, 0.16);
}
.btn-bordered {
  min-width: 160px;
  height: 52px;
  line-height: 48px;
  font-size: 14px;
  color: #fdcc59;
  background: rgba(201, 66, 72, 0.02);
  border: 2px solid;
  border-radius: 6px;
}
.btn-bordered:hover,
.btn-bordered:active {
  background: #fdcc59;
  color: #262627;
}
.btn-default {
  min-width: 240px;
  font-size: 1.375rem;
  border-radius: 6px;
  background: #fd8b19;
  overflow: hidden;
  position: relative;
}
.btn-default:hover:before {
  width: 250px;
  height: 250px;
}
.btn-accent {
  background: #fdcc59;
}
.btn-success {
  min-width: 220px;
  font-size: 1.375rem;
  border-radius: 6px;
  background: #fccc59;
  overflow: hidden;
  position: relative;
}
.btn-success:hover:before {
  width: 250px;
  height: 250px;
}
.btn-text {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  color: #281f39;
}
.btn + .btn {
  margin-left: 2rem;
}
.btn.small {
  font-size: 16px;
  min-width: 160px;
  height: 52px;
  line-height: 52px;
}
.divider {
  height: 125px;
  display: inline-block;
  width: 1px;
  background: #281f39;
  opacity: .2;
  float: left;
  margin-left: 5%;
  margin-top: 7px;
}
.divider + .tabs__desc.md {
  float: right;
}
.listLine__item {
  padding-left: 15px;
  font-size: 13px;
  position: relative;
  color: rgba(40, 31, 57, 0.8);
}
.listLine__item:before {
  content: '';
  background: #fd8b19;
  width: 4px;
  height: 4px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
  border-radius: 100%;
}
.listLine__item + li {
  margin-top: 16px;
}
.section__intro {
  height: 100%;
  background: url("../images/bg/intro_bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  line-height: 0;
  font-size: 0;
}
.section__intro:after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.section__whitepaper {
  padding: 6.625rem 0;
  color: #281f39;
  font-size: 20px;
  background: url("../images/bg/earth.png") left center no-repeat, url("../images/bg/bag_money.png") right center no-repeat;
  background-size: 15% , 9%;
  text-align: center;
}
.section__whitepaper .h2 {
  font-size: 30px;
}
.section__whitepaper .btn-rounded {
  background: #4b4359;
  margin-top: 2.25rem;
}
.section__whitepaper .btn-rounded:hover {
  background: #393149;
}
.section__whitepaper .btn-rounded:active {
  background: #4b4359;
}
.section__whitepaper p {
  text-align: left;
}
.section__features {
  padding: 6.875rem 0;
  background: url("../images/bg/features_bg.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  font-size: 18px;
}
.section__features .h2 {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}
.section__features .desc {
  font-size: 18px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.section__features .container {
  height: 100%;
}
.section__howWorks {
  padding: 80px 0 90px;
  color: #281f39;
  text-align: center;
  overflow: hidden;
}
.section__enterprise .desc {
  font-size: 18px;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}
.section__enterprise .head {
  padding: 60px 0;
  background: url("../images/bg/features_bg.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
}
.section__enterprise .body {
  color: #281f39;
  padding: 250px 0;
}
.section__dappModel .head {
  padding: 5.4rem 0 7rem;
  font-size: 20px;
  background: #37399c;
  background: -moz-linear-gradient(top, #37399c 0%, #281f39 100%);
  background: -webkit-linear-gradient(top, #37399c 0%, #281f39 100%);
  background: linear-gradient(to bottom, #37399c 0%, #281f39 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37399c', endColorstr='#281f39', GradientType=0);
}
.section__dappModel .h2 {
  text-align: center;
  margin-bottom: 2.3rem;
}
.section__dappModel .mark {
  color: #a6a8ff;
}
.section__dappModel .body {
  font-size: 15px;
  line-height: 1.6;
  color: #281f39;
  padding: 123px 0 64px;
  background: #f2f1f4;
  text-align: center;
}
.section__contact {
  padding: 96px 0;
  background: #37399c;
  background: -moz-linear-gradient(top, #37399c 0%, #281f39 100%);
  background: -webkit-linear-gradient(top, #37399c 0%, #281f39 100%);
  background: linear-gradient(to bottom, #37399c 0%, #281f39 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37399c', endColorstr='#281f39', GradientType=0);
}
.section__logged {
  height: 100%;
  background-color: #302c6b;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiMzNzM5OWMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzI4MWYzOSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
  /* Android 2.3- hack (needed for the actual radial gradient) */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiMzNzM5OWMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzI4MWYzOSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=), -webkit-gradient(radial, left top, 0, left top, 728, color-stop(0, #37399c), color-stop(1, #281f39));
  /* Android 2.3 */
  background-image: -webkit-repeating-radial-gradient(left top, ellipse farthest-corner, #37399c 0%, #281f39 100%);
  /* IE10+ */
  background-image: repeating-radial-gradient(ellipse farthest-corner at left top, #37399c 0%, #281f39 100%);
  background-image: -ms-repeating-radial-gradient(left top, ellipse farthest-corner, #37399c 0%, #281f39 100%);
  position: relative;
  line-height: 0;
  font-size: 0;
}
.section__logged:after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.section__team {
  position: relative;
  z-index: 3;
}
.section__getInvolved {
  color: #281f39;
  text-align: center;
  padding: 68px 0;
}
.section__footerNav {
  padding: 55px 0;
  background: #171223;
  font-size: 13px;
}
.section__footerNav .title {
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  color: #fccb59;
  font-weight: 600;
  padding-left: 20px;
  margin-bottom: 11px;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: -1px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
  visibility: hidden;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.settings__wrap {
  position: absolute;
  top: 63px;
  right: 0;
  left: 0;
  line-height: 1.4;
  z-index: 1;
}
.lang__wrap {
  float: right;
}
.intro__wrap {
  width: 100%;
  line-height: 1.25;
  display: inline-block;
  vertical-align: middle;
}
.intro__logo {
  margin-top: 16px;
}
.intro__desc {
  display: block;
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: 3.2rem;
}
.intro__desc strong {
  display: block;
  font-weight: 600;
  margin-top: 20px;
}
.logo-txt {
  width: 280px;
  max-width: 100%;
}
.header {
  background: #262627;
  height: 100px;
  line-height: 100px;
  position: relative;
}
.header__wrap {
  height: 100px;
}
.header__wrap.fixed .header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
}
.header__logo {
  width: 35px;
  display: inline-block;
}
.header__logo img {
  max-width: 100%;
}
.header__btnMenu {
  display: none;
}
.header__mob {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: transparent;
}
.header__mob .nav__wrap {
  top: 0;
  padding-top: 89px;
}
.header .container {
  max-width: 1500px;
}
.nav__wrap {
  float: right;
}
.nav__list {
  display: inline-block;
}
.nav__list + .btn {
  margin-left: 2rem;
}
.nav__item {
  display: inline-block;
}
.nav__item + li {
  margin-left: 4px;
}
.nav__login,
.nav__link {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 20px;
}
.nav__login:hover,
.nav__link:hover {
  background: rgba(255, 255, 255, 0.16);
}
.nav__login.active,
.nav__link.active,
.nav__login:active,
.nav__link:active {
  background: transparent;
  color: #fd8b19;
}
.nav__login {
  color: #fdcc59;
}
.hamburger {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  z-index: 4;
}
.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger .line:last-of-type,
.hamburger .line:first-of-type {
  width: 23px;
  margin-right: 0;
}
.hamburger.active .line:nth-child(1) {
  width: 30px;
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.active .line:last-of-type {
  width: 30px;
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
.feature__wrap {
  margin-top: 6rem;
}
.feature__head {
  margin-bottom: 6.25rem;
}
.feature__item {
  font-size: 15px;
  text-align: left;
  margin-bottom: 100px;
}
.feature__icon {
  font-size: 32px;
  display: inline-block;
  margin-bottom: 1.25rem;
}
.feature__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 1rem;
}
.feature__desc {
  line-height: 1.55;
}
.tabs-nav__list {
  max-width: 1020px;
  margin: 47px auto;
}
.tabs-nav__list:after {
  content: '';
  display: block;
  clear: both;
}
.tabs-nav__item {
  font-size: 15px;
  font-weight: 700;
  position: relative;
  float: left;
  width: 33.33%;
}
.tabs-nav__link {
  display: block;
  padding: 20px 15px;
  color: #281f39;
}
.tabs-nav__link i {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
.tabs-nav__link.active,
.tabs-nav__link:hover {
  color: #fd8b19;
}
.tabs-nav__title {
  vertical-align: middle;
}
.tabs-nav__current {
  display: none;
}
.tabs__wrap {
  margin-top: 63px;
}
.tabs__cont {
  padding-bottom: 50px;
}
.tabs__pane {
  display: none;
  font-size: 15px;
  line-height: 1.9;
}
.tabs__pane:after {
  content: '';
  display: block;
  clear: both;
}
.tabs__pane_js.active {
  display: block;
}
.tabs__pane.core .tabs__desc {
  margin-bottom: 34px;
  text-align: left;
}
.tabs__pane.smartTrasts {
  padding-top: 35px;
  text-align: left;
}
.tabs__pane.restAPI {
  padding-top: 50px;
}
.tabs__pane.restAPI .tabs__desc {
  font-weight: 600;
  text-align: right;
  margin-left: -10px;
}
.tabs__title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 21px;
  text-align: left;
  clear: both;
}
.tabs__desc.md {
  width: 45%;
  float: left;
}
.tabs__accent {
  text-align: left;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  padding: 8px 0 20px 75px;
  max-width: 421px;
}
.tabs__accent:before {
  content: '';
  position: absolute;
  top: -43px;
  right: -500%;
  bottom: -66px;
  left: 0;
  background: rgba(253, 139, 25, 0.1);
  z-index: -1;
}
.tabs__accent .title {
  display: block;
  margin-bottom: 15px;
}
.sideTabs-nav__wrap {
  position: absolute;
  left: 0;
  top: 0;
}
.sideTabs-nav__item + li {
  margin-top: 8px;
}
.sideTabs-nav__link {
  display: block;
  padding: 17px 40px;
  font-size: 18px;
  color: #281f39;
}
.sideTabs-nav__link.active {
  font-weight: 600;
  box-shadow: inset 4px 0 0 #fd8b19;
}
.sideTabs__wrap {
  position: relative;
}
.sideTabs__cont {
  padding-left: 32%;
}
.team__wrap:after {
  content: '';
  display: block;
  clear: both;
}
.team__item {
  width: 33.33%;
  float: left;
  position: relative;
}
.team__item.hover {
  z-index: 1;
}
.team__photo {
  width: 100%;
}
.team__photoWrap {
  height: 100%;
}
.team__more {
  width: 320px;
  border-radius: 50px;
  padding: 10px 25px;
  text-align: center;
  background: rgba(39, 31, 56, 0.8);
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.team__name {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.team__post {
  display: block;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}
.team__joining {
  text-align: center;
  padding: 5.375rem 0 6.5rem;
  color: #281f39;
}
.team__joining .h2 {
  margin-bottom: 2.25rem;
}
.team-info__wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #281f39;
  font-size: 16px;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.team-info__wrap i {
  font-size: 35px;
  display: block;
  margin-bottom: 15px;
}
.team-info__head {
  position: relative;
  top: 30px;
}
.team-info__in {
  max-width: 77%;
  padding: 10% 0 0 17%;
  height: 100%;
}
.team-info__name {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  display: block;
}
.team-info__post {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 38px;
}
.team-info__desc {
  height: 47%;
  line-height: 1.5;
  position: relative;
  padding-right: 15px !important;
  top: 30px;
}
.team-info__close {
  display: none;
  position: absolute;
  color: rgba(255, 255, 255, 0.21);
  top: 0;
  right: 0;
  padding: 15px;
}
.subscribe__wrap {
  max-width: 680px;
  margin: 0 auto;
}
.subscribe__wrap .h2 {
  margin-bottom: 13px;
}
.subscribe__desc {
  display: block;
  font-size: 1.375rem;
  margin-bottom: 3.625rem;
}
.model__item {
  margin-bottom: 6.125rem;
  text-align: left;
}
.model__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  display: block;
  margin-bottom: 20px;
}
.social__desc {
  font-size: 15px;
  max-width: 640px;
  margin: 48px auto 43px;
  line-height: 1.5;
}
.social__wrap:after {
  content: '';
  display: block;
  clear: both;
}
.social__item {
  float: left;
  width: 12.5%;
}
.social__link {
  display: block;
  padding: 16px 0;
  opacity: .7;
}
.social__link img {
  height: 32px;
}
.social__link:hover {
  opacity: 1;
}
.contact__info {
  margin-left: 47px;
}
.contact__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.25rem;
  display: block;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 20px;
}
.contact__desc {
  display: block;
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.3;
}
.contact__logo {
  width: 50px;
  margin-bottom: 1.875rem;
}
.footerNav__part {
  float: left;
  width: 37.5%;
}
.footerNav__part:first-of-type .footerNav__wrap {
  border-left: none;
}
.footerNav__part.second li:nth-child(odd) {
  width: 40%;
}
.footerNav__part.second li:nth-child(even) {
  width: 60%;
}
.footerNav__part.three {
  width: 25%;
}
.footerNav__part.three li:nth-child(odd) {
  width: 50%;
}
.footerNav__part.three li:nth-child(even) {
  width: 50%;
}
.footerNav__wrap {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 20px;
}
.footerNav__wrap:after {
  content: '';
  display: block;
  clear: both;
}
.footerNav__item {
  float: left;
  width: 33.33%;
}
.footerNav__link {
  padding: 3px 0;
  display: block;
  color: #ffffff;
}
.footerNav__link:hover {
  opacity: .7;
}
.footerNav__icon {
  display: inline-block;
  width: 24px;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  text-align: center;
}
.footerNav__soc {
  vertical-align: middle;
}
.footer {
  background: #1d172c;
  text-align: center;
  height: 55px;
  line-height: 55px;
  font-size: 13px;
  margin-top: -1px;
}
.dropdown__wrap {
  position: relative;
  border-radius: 50px;
  border: 2px solid #fff;
  opacity: 0.3;
  height: 60px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.dropdown__wrap:hover {
  opacity: 1;
  border-radius: 35px;
  height: 160px;
}
.dropdown__wrap:hover .dropdown__in {
  opacity: 1;
  visibility: visible;
}
.dropdown__in {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
  visibility: hidden;
}
.dropdown__link {
  display: block;
  font-size: 1rem;
  padding: 4px 30px;
  text-transform: capitalize;
  color: #fff;
}
.dropdown__link:hover {
  background: rgba(255, 255, 255, 0.16);
}
.dropdown__current {
  min-width: 120px;
  padding: 14px 30px;
  color: #fff;
  position: relative;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.dropdown__current:hover {
  background: transparent;
}
.dropdown__current i {
  font-size: 7px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 31px;
}
.form__row {
  position: relative;
  margin-bottom: 2.125rem;
}
.form__row.focus .btn-form {
  background: #fd8b19;
}
.form__row .error-txt {
  font-size: 13px;
  background: #dd464c;
  position: absolute;
  padding: 4px 10px;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
  visibility: hidden;
}
.form__row .error-txt:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}
.form__row .error-txt.btm {
  top: 64px;
  left: 0;
}
.form__row .error-txt.btm:before {
  border-width: 5px 0 0 5px;
  border-color: transparent transparent transparent #dd464c;
  bottom: 98%;
  left: 0;
}
.form__row .error-txt.top {
  top: -29px;
  right: 0;
}
.form__row .error-txt.top:before {
  border-width: 0 5px 5px 0;
  border-color: transparent #dd464c transparent transparent;
  top: 98%;
  right: 0;
}
.form__row .error-txt.top-left {
  top: -29px;
  left: 0;
}
.form__row .error-txt.top-left:before {
  border-width: 5px 5px 0 0;
  border-color: #dd464c transparent transparent transparent;
  top: 98%;
  left: 0;
}
.form__row .error-txt .icon-error {
  margin-right: 5px;
}
.form__row.error .input {
  border: 2px solid #dd464c !important;
}
.form__row.error .btn-form {
  background: #dd464c;
}
.form__row.error .error-txt {
  opacity: 1;
  visibility: visible;
}
.form__row.error .form__remark {
  margin-top: 32px;
}
.form__title {
  display: block;
  font-size: 22px;
  margin-bottom: 0.5rem;
}
.form__subs {
  max-width: 680px;
  margin-bottom: 5rem;
}
.form__remark {
  font-size: 13px;
  display: block;
  margin: 2px 0 0 5px;
  text-align: left;
}
.form-contact {
  margin-top: 205px;
  text-align: center;
}
.form-contact .btn {
  background: #dd464c;
}
.form-popup {
  text-align: center;
}
label {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  position: absolute;
  top: 17px;
  left: 25px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
label.dark {
  color: rgba(40, 31, 57, 0.5);
}
input,
.input {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 1.25rem;
  background: rgba(255, 255, 255, 0.16);
  padding: 8px 25px;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
input::-webkit-input-placeholder,
.input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input::-moz-placeholder,
.input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input:-moz-placeholder,
.input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input:-ms-input-placeholder,
.input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input__extend,
.input__extend {
  overflow: hidden;
}
input__extend .input:focus,
.input__extend .input:focus {
  border-color: #fd8b19;
}
input:focus,
.input:focus {
  border-color: rgba(255, 255, 255, 0.44);
}
input:focus::-webkit-input-placeholder,
.input:focus::-webkit-input-placeholder {
  color: #ffffff;
}
input:focus::-moz-placeholder,
.input:focus::-moz-placeholder {
  color: #ffffff;
}
input:focus:-moz-placeholder,
.input:focus:-moz-placeholder {
  color: #ffffff;
}
input:focus:-ms-input-placeholder,
.input:focus:-ms-input-placeholder {
  color: #ffffff;
}
input-bordered,
.input-bordered {
  border: 2px solid #c7c7c7;
}
input-bordered::-webkit-input-placeholder,
.input-bordered::-webkit-input-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered::-moz-placeholder,
.input-bordered::-moz-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered:-moz-placeholder,
.input-bordered:-moz-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered:-ms-input-placeholder,
.input-bordered:-ms-input-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered:focus,
.input-bordered:focus {
  border-color: rgba(40, 31, 57, 0.3);
}
input-bordered:focus::-webkit-input-placeholder,
.input-bordered:focus::-webkit-input-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered:focus::-moz-placeholder,
.input-bordered:focus::-moz-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered:focus:-moz-placeholder,
.input-bordered:focus:-moz-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered:focus:-ms-input-placeholder,
.input-bordered:focus:-ms-input-placeholder {
  color: rgba(40, 31, 57, 0.5);
}
input-bordered.colored:focus,
.input-bordered.colored:focus {
  border-color: #fccc59;
}
input.fill ~ label,
.input.fill ~ label,
input:focus + label,
.input:focus + label {
  top: -20px;
  left: 4px;
  font-size: 13px;
  color: #ffffff;
}
input.fill ~ label.dark,
.input.fill ~ label.dark,
input:focus + label.dark,
.input:focus + label.dark {
  color: rgba(40, 31, 57, 0.5);
}
.textarea {
  width: 100%;
  height: 200px;
  line-height: 1.25;
  font-size: 1.25rem;
  background: rgba(255, 255, 255, 0.16);
  padding: 20px 25px;
  border-radius: 5px;
  border: 1px solid transparent;
  overflow: auto;
  resize: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.textarea.focus {
  border-color: rgba(255, 255, 255, 0.44);
}
.textarea.focus::-webkit-input-placeholder {
  color: #ffffff;
}
.textarea.focus::-moz-placeholder {
  color: #ffffff;
}
.textarea.focus:-moz-placeholder {
  color: #ffffff;
}
.textarea.focus:-ms-input-placeholder {
  color: #ffffff;
}
.textarea.fill ~ label,
.textarea:focus + label {
  top: -20px;
  left: 4px;
  font-size: 13px;
  color: #ffffff;
}
.scroll-textarea.fill + label {
  top: -20px;
  left: 4px;
  font-size: 13px;
  color: #ffffff;
}
.scroll-textarea.focus + label {
  top: -20px;
  left: 4px;
  font-size: 13px;
  color: #ffffff;
}
.textarea-scrollbar {
  height: 200px;
  width: 100%;
}
.scroll-wrapper.textarea-scrollbar {
  background: transparent;
}
.scroll-element.scroll-x {
  display: none !important;
}
.popup__wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
  opacity: 0;
  visibility: hidden;
}
.popup__wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.popup__wrap.open {
  opacity: 1;
  visibility: visible;
}
.popup__wrap.open .popup__in {
  pointer-events: all;
}
.popup__wrap.open .popup__body {
  opacity: 1;
  visibility: visible;
}
.popup__in {
  height: auto;
  width: 100%;
  max-width: 600px;
  background: #fff;
  color: #281f39;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.popup__in.static {
  margin: 18px 0;
}
.popup__in.static .popup__video {
  height: 100%;
}
.popup__in.absolute {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  margin: 20px 0;
}
.popup__in.entry {
  position: relative;
  top: 20px;
  left: inherit;
  margin: 0 auto;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}
.popup__body {
  padding: 70px 110px 30px;
  position: relative;
  opacity: 0;
  visibility: hidden;
}
.popup__body .h2 {
  text-transform: uppercase;
  margin-bottom: 65px;
}
.popup__video {
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto;
  height: auto;
  position: relative;
  transition-delay: 1s;
}
.popup__videoWrap {
  width: 100%;
  height: 100%;
}
.popup__video video {
  width: 100%;
  height: 100%;
}
.popup__video .popup__close {
  bottom: 100%;
  top: inherit;
  padding: 20px 10px;
  color: #fff;
}
.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  color: rgba(40, 31, 57, 0.33);
  font-size: 15px;
}
.popup__footer {
  color: #281f39;
  font-size: 18px;
  text-align: center;
}
.popup__footer span {
  vertical-align: middle;
}
.popup__desc {
  font-size: 20px;
  display: block;
  margin-bottom: 38px;
}
.popup-success {
  text-align: center;
  font-size: 16px;
}
.popup-success .h2 {
  margin-bottom: 28px;
}
.popup-success .popup__body {
  padding-left: 136px;
  padding-right: 136px;
}
.popup-success .form__row {
  margin-top: 50px;
}
.popup-success p {
  color: rgba(16, 0, 57, 0.5);
}
.popup-video .popup__in {
  max-width: 900px;
  width: 30px;
  transition-delay: 0.5s;
}
.popup-video.open .popup__in {
  width: 100%;
}
.popup-video .static {
  height: 90%;
}
.box {
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.wh {
  height: 100% !important;
}
.ww {
  width: 100% !important;
}
.modal-ios {
  position: absolute;
  overflow: visible;
}
@supports (-ms-ime-align:auto) {
  .scroll-textarea > .scroll-content > textarea {
    overflow: hidden !important;
  }
}
